h1, h2, h3, h4, h5, h6, p, a, input {
    font-family: "Roboto"
}

.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content:left;
}

.sidebar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    left: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    padding: 30px;
    background-color: rgb(48, 48, 48);
    color: white;
}

.navbar-link {
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    padding-left: 30px;
}

.navbar-link:hover {
    text-decoration: underline;
}

.sidebar-title {
    color: white;
    margin-left: 10px;
}

.top-logo {
    margin-top: 5px;
    margin-left: 10px;
}