<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <title>FlaskOverflow</title>
</head>
<body>
    <div class="sidebar">
        <br><br><br>

        <h2 class="sidebar-title">Newest</h2>
    </div>

    <form method="post" action="/">
        <div class="navbar">
            <a href="/"><img width="170px" class="top-logo" src="{{ url_for('static',filename='images/FlaskOverflow_Logo.png') }}" alt="My Happy SVG"/></a>
            <a class="navbar-link" href="/create">Create</a>
            <a class="navbar-link" href="/">Example</a>
            <a class="navbar-link" href="/">Example</a>
            <a class="navbar-link" href="/">Example</a>
        </div>
    </form>

</body>
</html>